<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <title>Sunspeaker</title>
  <meta name="description" content="Cybernetic Freak-funk">
  <link rel="stylesheet" href="css/main.css">
</head>


  <body>

    <header class="site-header" role="banner">

      <div class="wrapper">

        <a class="site-title" href="/">Sunspeaker</a>

        <nav class="site-nav">
          <div class="trigger">
              <a class="page-link" href="templates/index.html">About</a>
              <a class="page-link" href="https://soundcloud.com/sunspeaker">Music</a>
              <a class="page-link" href="/photos/">Photos</a>
              <a class="page-link" href="/Shows/">Shows</a>
          </div>
        </nav>

      </div>

    </header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">

  <h1 class="page-heading">About</h1>
        <p>
        Sunspeaker is three NYC-based producers using vintage synths, electronic beats, and crooning vocals to brew a unique concoction of futuristic R&B, hip-hop, and electronica.
        </p>
        <p>
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/275969860%3Fsecret_token%3Ds-YfRdC&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </p>
</div>

      </div>
    </main>

    <footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <p>Contact: <a href="mailto:mauricemarion94@gmail.com">mauricemarion94@gmail.com</a></p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          

          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>


  </body>

</html>

